@font-face {
  font-family: "Adamant BG";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/adamant-bg/Adamant_BG-Regular.woff2) format("woff2"), url(./fonts/adamant-bg/Adamant_BG-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Adamant BG";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/adamant-bg/Adamant_BG-Italic.woff2) format("woff2"), url(./fonts/adamant-bg/Adamant_BG-Italic.otf) format("opentype");
}

@font-face {
  font-family: "Adamant BG";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/adamant-bg/Adamant_BG-Bold.woff2) format("woff2"), url(./fonts/adamant-bg/Adamant_BG-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Adamant BG";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/adamant-bg/Adamant_BG-BoldItalic.woff2) format("woff2"), url(./fonts/adamant-bg/Adamant_BG-BoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-Regular.woff2) format("woff2"), url(./fonts/lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-Italic.woff2) format("woff2"), url(./fonts/lato/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-Medium.woff2) format("woff2"), url(./fonts/lato/Lato-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-MediumItalic.woff2) format("woff2"), url(./fonts/lato/Lato-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-SemiBold.woff2) format("woff2"), url(./fonts/lato/Lato-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-SemiBoldItalic.woff2) format("woff2"), url(./fonts/lato/Lato-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-Bold.woff2) format("woff2"), url(./fonts/lato/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/lato/Lato-BoldItalic.woff2) format("woff2"), url(./fonts/lato/Lato-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/merriweather/Merriweather-Italic.woff2) format("woff2"), url(./fonts/merriweather/Merriweather-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/merriweather/Merriweather-Bold.woff2) format("woff2"), url(./fonts/merriweather/Merriweather-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/merriweather/Merriweather-Black.woff2) format("woff2"), url(./fonts/merriweather/Merriweather-Black.ttf) format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/pt-serif/PTSerif-Regular.woff2) format("woff2"), url(./fonts/pt-serif/PTSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/pt-serif/PTSerif-Italic.woff2) format("woff2"), url(./fonts/pt-serif/PTSerif-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(''), url(./fonts/pt-serif/PTSerif-Bold.woff2) format("woff2"), url(./fonts/pt-serif/PTSerif-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local(''), url(./fonts/pt-serif/PTSerif-BoldItalic.woff2) format("woff2"), url(./fonts/pt-serif/PTSerif-BoldItalic.ttf) format("truetype");
}
